* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E7F6F2;
  }
  
  header {
    background-color: #222831;  
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  section {
    display: -webkit-flex;
    display: flex;
  }
  
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #393E46;
    padding: 20px;
  }

  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  hr {
    height: 2px;
    border-width: 0;
    color: #2C3333;
    background-color: #2C3333;
  }

  footer {
    background-color: #222831;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }